
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Great+Vibes&family=Parisienne&display=swap');
.parisienne-regular {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
  }
.header-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.15rem;
}
.btn-2{
    border-radius: 46px;
    padding: 8px 15px;
    background-color: black;
    color: white;
    border: 1px solid white;
}
 
  
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1440px;
    
}
.title{
    font-size: 2.25rem;
    color: rgba(230, 83, 60, 1);
    font-weight: 600;
    margin-left: 70px;
    text-decoration: wavy;
}
.bg-color{
    background-color: black;
}
.list-items{
    display: flex;
    gap: 25px;
    align-items: center;
    margin-right: 70px;
}
.list-item{
    list-style: none;
    font-size: 1.25rem;
}
.item{
    text-decoration: none;
    color: white;
}
.btn{
    background-color: rgba(230, 83, 60, 1);
    border-radius: 46px;
    border: none;
    padding: 8px 20px;
    color: white;
}
.header-title{
    color: white;
    font-weight: 700;
    font-size: 3rem;
}
.style{
    font-weight: 500;
}
.head{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.header-image{
    width:100%
}
.btn-3{
    margin-left: -400px;
    margin-right: 100px;
    background-color: rgba(34, 34, 34, 1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 10px 15px;
    color: #464646;
    font-size: 1rem;
}
.number{
    color: white;
    font-size: 1.5rem;
}
.btn-4{
    background-color: rgba(34, 34, 34, 1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 10px 15px;
    color: #464646;
    font-size: 1rem; 
    transform: translateY(-400px) translateX(20px);
}
.section-title{
    font-size: 2.5rem;
    color: white;
    font-weight: 700;
}
.title-main{
    text-align: center;
}
.card-title{
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
}
.cards{
    display: flex;
    gap: 30px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card-img{
    border-radius: 100px;
}
.run{
    display: flex;
    background-color: rgba(34, 34, 34, 1);
    max-width: 1030px;
    height: 300px;
    gap: 100px;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.run-img{
    width: 80%;
    border-radius: 10px;
}
.run-title{
    margin-left: 35px;
}
.text-center{
    text-align: center;
}
table tr{
    color:rgba(255, 255, 255, 0.5) ;
}
table th td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
}

th{
    color: white;
}
.bmi-header{
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}
.bmi{
    margin-top: 100px;
    display: flex;
    background-color: rgba(34, 34, 34, 1);
    gap: 50px;
    justify-content: space-around;
    margin-bottom: 50px;
}
.form{
    display: grid;
    grid-template-columns: repeat(2,200px);
}
#factor{
    grid-column: span 2;
}
.fill-up{
    color: rgba(255, 255, 255, 0.6);
    padding: 13px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: none;
}
.form{
    margin-bottom: 20px;
    row-gap: 10px;
    column-gap: 10px;
    margin-bottom: 40px;
}
.chart{
    margin-left: 30px;
}
.members{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(34, 34, 34, 1);
    width: 70%;
    height: 40%;
    margin-left: 240px;
}
.img{
    width:80%;
    border-radius: 8px;
    height: 50%;
}
.name{
    font-size:1.12rem ;
    color: white;
}
.movement{
    transform: translateY(-100px);
    gap: 12px;
}
.title-footer{
    font-size: 3rem;
    color: rgba(230, 83, 60, 1);
    font-weight: 700;
    text-decoration: wavy;
}
.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 20px;
}
footer{
    background-color: rgba(34, 34, 34, 1);
    margin-top: 50px;
}
footer ul{
    color:rgba(255, 255, 255, 0.5) ;
    list-style: none;
}
footer ul li{
    margin-bottom: 10px;
}
.list-title{
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 40px;
}
.copyright{
    color: rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin: 30px;
}
.fit{
    margin-left: 30px;
}
@media screen and (max-width: 576px) {
    .footer{
        grid-template-columns: repeat(1, 1fr);
    }
    .members{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 55px;
    }
    .bmi{
        flex-direction: column;
    }
    .run{
        flex-direction: column;
        height: 700px;
    }
    .cards{
        flex-direction: column;
    }
}